body {
  font-family: Helvetica, sans-serif;
  background-color: #ff954a;
  text-align: center;
}

p {
  font-size: 16pt;
  padding-right: 50px;
  padding-left: 50px;
}

a {
  color: #4450ff;
  font-size: 24pt;
}
.big-image {
  max-height: 50%;
  max-width: 50%;
}
