body {
  font-family: Helvetica, sans-serif;
  background-color: #77dd77;
  text-align: center;
}

p {
  font-size: 16pt;
  padding-right: 50px;
  padding-left: 50px;
}

a {
  color: #8b2222;
  font-size: 24pt;
}

img {
  max-height: 50%;
  max-width: 50%;
}
